/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BeloteCoinche implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * belotecoinche.css
 *
 * BeloteCoinche stylesheet
 *
 */

/** Table layout **/
.playerTables {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url('img/baize.svg');
}

.playerTables__wrapper {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}

.playerTables__name {
	margin-top: 4px;
}

.playerTables__name > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
	letter-spacing: 0.05rem;
}

.playerTables__table {
	position: absolute;
	text-align: center;
	width: 160px;
	height: 180px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.playerTables__table__firstMarker {
	display: none;
	position: absolute;
	top: -4px;
	right: -3px;
	width: 72px;
	height: 44px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-image: url('img/playerFirst.svg');
}
.playerTables__table--first .playerTables__table__firstMarker {
	display: block;
}

.playerTables__table__counterMarker {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: red;
	padding: 5px;
	font-weight: bold;
	color: white;
}
.playerTables__table__counterMarker--visible {
	display: block;
}

.playerTables__card {
	flex: 1;
	margin: 0;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 2px;
}

.playerTables__table--active .playerTables__card {
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.3);
}

.playerTables__table--N {
	left: 50%;
	top: 6%;
	margin-left: -80px;
}
.playerTables__table--S {
	left: 50%;
	bottom: 6%;
	margin-left: -80px;
}
.playerTables__table--W {
	left: 6%;
	top: 50%;
	margin-top: -90px;
}
.playerTables__table--E {
	right: 6%;
	top: 50%;
	margin-top: -90px;
}

.playerTables__bid-item {
	opacity: 0.3;
}
.playerTables__bid-item:nth-last-child(2) {
	opacity: 0.7;
}
.playerTables__bid-item:last-child {
	opacity: 1;
}

.playerTables__coinche-btn {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 50%;
	top: 50%;
	margin-top: -60px;
	margin-left: -60px;
	box-sizing: border-box;
}
.playerTables__coinche-btn--visible {
	display: flex;
}

/*** cards on table ***/

.cardontable {
	position: absolute;
	width: 72px;
	height: 96px;
	background-image: url('img/cards.jpg');
}

/*** bid panel ***/

.bidPanel {
	text-align: center;
	margin: 10px;
	display: none;
}

.bidPanel--visible {
	display: block;
}

.bidPanel__title {
	font-weight: bold;
	padding: 5px;
}

.bidPanel__colors,
.bidPanel__values {
	display: flex;
	justify-content: center;
}

.bidPanel__btn {
	display: block;
	padding: 5px;
	margin: 1px;
	font-size: 1.3rem;
	overflow: visible;
}

.bidPanel__btn--pass {
	display: inline-block;
	background-color: #436aab;
	margin: 0;
	margin-left: 5px;
	font-size: 1rem;
}

.currentBidInfo {
	display: none;
	margin: 10px;
	place-content: center;
	place-items: center;
}

.currentBidInfo--visible {
	display: flex;
}

.currentBidInfo__bid {
	font-size: 20px;
	font-weight: bold;
}

.currentBidInfo__player {
	color: #777;
	margin-left: 20px;
}

.currentBidInfo__countered--0 {
	display: none;
}

.myHand {
	text-align: center;
}

.card-color-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.card-color-icon--size16 {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.card-color-icon--1,
.card-color-icon--spade {
	background-image: url('img/spade.svg');
}
.card-color-icon-2,
.card-color-icon--heart {
	background-image: url('img/heart.svg');
}
.card-color-icon--3,
.card-color-icon--club {
	background-image: url('img/club.svg');
}
.card-color-icon--4,
.card-color-icon--diamond {
	background-image: url('img/diamond.svg');
}
.card-color-icon--5,
.card-color-icon--alltrump {
	background-image: url('img/alltrump.svg');
}
.card-color-icon--6,
.card-color-icon--notrump {
	background-image: url('img/notrump.svg');
}

.bid-value {
	font-weight: bold;
	font-size: 1.1rem;
}
