/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BeloteCoinche implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * belotecoinche.css
 *
 * BeloteCoinche stylesheet
 *
 */

/** Table layout **/
.playertables {
    position: relative;
    width: 710px;
    height: 340px;
}

.playertablename {
    font-weight: bold;
}

.playertable {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 130px;
}

.playertable_N {
    left: 50%;
    top: 0px;
    margin-left: -90px; /* half of 180 */
}
.playertable_S {
    left: 50%;
    bottom: 0px;
    margin-left: -90px; /* half of 180 */
}
.playertable_W {
    left: 0px;
    top: 50%;
    margin-top: -55px; /* half of 130 */
}
.playertable_E {
    right: 0px;
    top: 50%;
    margin-top: -55px; /* half of 130 */
}

/*** cards on table ***/

.cardontable {
    position: absolute;
    width: 72px;
    height: 96px;
    background-image: url('img/cards.jpg'); 
}

.bidPanel {
	text-align: center;
	margin: 10px;
}
.bidPanel__title {
	font-weight: bold;
	padding: 5px;
}
.bidPanel__colors,
.bidPanel__values {
	display: flex;
}
.bidPanel__btn {
	display: block;
	padding: 5px;
	margin: 1px;
	font-size: 1.3rem;
	overflow: visible;
}
.bidPanel__btn--pass {
	display:  inline-block;
	background-color: #436AAB;
	margin: 0;
	margin-left: 5px;
	font-size: 1.0rem;
}

.currentBidInfo {
	display: flex;
	margin: 10px;
	place-content: center;
	place-items: center;
}

.currentBidInfo__bid {
	font-size: 20px;
	font-weight: bold;
}

.currentBidInfo__player {
	color: #777;
	margin-left: 20px;
}

.card-color-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.card-color-icon--spade {
	background-image: url('img/spade.svg');
}
.card-color-icon--heart {
	background-image: url('img/heart.svg');
}
.card-color-icon--diamond {
	background-image: url('img/diamond.svg');
}
.card-color-icon--club {
	background-image: url('img/club.svg');
}
