/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BeloteCoinche implementation : © Christophe Badoit <gameboardarena@tof2k.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * belotecoinche.css
 *
 * BeloteCoinche stylesheet
 *
 */

/** Table layout **/
.playerTables {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url('img/baize.svg');
}

.playerTables__wrapper {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}

.playerTables__name {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.playerTables__name > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
	letter-spacing: 0.05rem;
}

.playerTables__bubble {
	opacity: 0;
	background: white;
	border-radius: 18px/15px;
	bottom: 100%;
	color: #000;
	font-weight: normal;
	left: -30px;
	padding: 5px 15px;
	position: absolute;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 7px;
	font-size: 14px;
	transition: opacity 0.5s ease-in;
	min-width: 40px;
}
.playerTables__bubble:hover {
	opacity: 0.5;
	pointer-events: none;
}

.playerTables__bubble:after {
	border-color: #ffffff transparent;
	border-style: solid;
	border-width: 15px 15px 0;
	bottom: -10px;
	content: '';
	display: block;
	left: 30px;
	position: absolute;
	width: 0;
}

.playerTables__bubble--visible {
	opacity: 1;
	display: block;
}

.playerTables__bubble .playerTables__bid-item {
	margin: 0 !important;
}

.playerTables__table {
	position: absolute;
	text-align: center;
	width: 160px;
	height: 180px;
	box-sizing: border-box;
}

.playerTables__table__firstMarker {
	opacity: 0;
	position: absolute;
	top: -4px;
	right: -3px;
	width: 72px;
	height: 44px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-image: url('img/playerFirst.svg');
	transition: opacity 1.5s ease-in;
}
.playerTables__table--first .playerTables__table__firstMarker {
	opacity: 1;
}

.playerTables__table__counterMarker {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: red;
	padding: 5px;
	font-weight: bold;
	color: white;
}
.playerTables__table__counterMarker--visible {
	display: block;
}

.playerTables__card {
	margin: 0;
	position: absolute;
	width: 72px;
	height: 104px;
}

.playerTables__avatar-wrapper {
	box-sizing: border-box;
	position: relative;
	width: 110px;
	height: 110px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 2px;
	border: 4px solid rgba(255, 255, 255, 0.1);
}

.playerTables__table--active .playerTables__avatar-wrapper {
	border: 4px solid rgba(255, 255, 255, 0.5);
}

.playerTables__avatar {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.playerTables__table--N {
	left: 50%;
	top: 6%;
	margin-left: -80px;
}
.playerTables__table--N .playerTables__avatar-wrapper {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -60px;
}
.playerTables__table--N .playerTables__card {
	top: 120px;
	left: 50%;
	margin-left: -36px;
}

.playerTables__table--S {
	left: 50%;
	bottom: 6%;
	margin-left: -80px;
}
.playerTables__table--S .playerTables__avatar-wrapper {
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -60px;
}
.playerTables__table--S .playerTables__card {
	bottom: 120px;
	left: 50%;
	margin-left: -36px;
}

.playerTables__table--W {
	left: 6%;
	top: 50%;
	margin-top: -90px;
}
.playerTables__table--W .playerTables__avatar-wrapper {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -60px;
}
.playerTables__table--W .playerTables__card {
	left: 120px;
	top: 50%;
	margin-top: -55px;
}

.playerTables__table--E {
	right: 6%;
	top: 50%;
	margin-top: -90px;
}
.playerTables__table--E .playerTables__avatar-wrapper {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -60px;
}
.playerTables__table--E .playerTables__card {
	right: 120px;
	top: 50%;
	margin-top: -55px;
}

.playerTables__bid-item {
	opacity: 0.1;
	font-size: 14px;
}
.playerTables__bid-item:nth-last-child(2) {
	opacity: 0.2;
}
.playerTables__bid-item:last-child {
	opacity: 1;
}
.playerTables__bid-item:first-child {
	margin-top: 10px;
}

.playerTables__coinche-btn {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 160px;
	height: 120px;
	left: 50%;
	top: 50%;
	margin-top: -60px;
	margin-left: -80px;
	box-sizing: border-box;
}
.playerTables__coinche-btn--visible {
	display: flex;
}

/*** cards on table ***/

.cardontable {
	position: absolute;
	width: 72px;
	height: 104px;
	background-image: url('img/cards-french.png');
	box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 5px;
}

/*** bid panel ***/

.bidPanel {
	opacity: 0;
	transition: opacity 0.5s ease-in;
	width: 50%;
	overflow: hidden;
	position: absolute;
	top: 33%;
	left: 25%;
	text-align: center;
	margin: 10px;
	height: 30%;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 9px;
	color: white;
	background: linear-gradient(14deg, #048254, #035d3c);
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: rgba(0,0,0,.5) 2px 2px 6px;
}

.bidPanel--visible {
	opacity: 1;
}

.bidPanel__title {
	font-weight: bold;
	padding: 5px;
}

.bidPanel__colors,
.bidPanel__values {
	display: flex;
}

.bidPanel__values {
	overflow: auto;
}

.bidPanel__btn {
	display: block;
	padding: 5px;
	margin: 1px;
	font-size: 1.3rem;
	overflow: visible;
	background: #eee;
	color: #333;
	border-radius: 5px;
	margin: 2px;
	font-weight: bold;
	cursor: pointer;
	white-space: nowrap;
	line-height: 32px;
}

.notouch-device .bidPanel__btn:hover,
.bidPanel__btn:hover {
	text-decoration: none;
	background: #fff;
	color: #000;
}

.bidPanel__btn--coinche {
	background: #C41515;
	font-size: 14px;
	color: white;
}

.touch-device .bidPanel__btn--selected,
.bidPanel__btn--selected {
	background: #4871B6;
	color: white;
}

.bidPanel__btn--pass {
	display: inline-block;
	background-color: #436aab;
	margin: 0;
	margin-left: 5px;
	font-size: 1rem;
}

.bidPanel__btn--hidden {
	display: none;
}

.currentBidInfo {
	display: none;
	margin: 10px;
	place-content: center;
	place-items: center;
}

.currentBidInfo--visible {
	display: flex;
}

.currentBidInfo__bid {
	font-size: 20px;
	font-weight: bold;
}

.currentBidInfo__player {
	color: #777;
	margin-left: 20px;
}

.currentBidInfo__countered--0 {
	display: none;
}

.myHand {
	text-align: center;
}

.card-color-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.card-color-icon--size16 {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.card-color-icon--1,
.card-color-icon--spade {
	background-image: url('img/spade.svg');
}
.card-color-icon--2,
.card-color-icon--heart {
	background-image: url('img/heart.svg');
}
.card-color-icon--3,
.card-color-icon--club {
	background-image: url('img/club.svg');
}
.card-color-icon--4,
.card-color-icon--diamond {
	background-image: url('img/diamond.svg');
}
.card-color-icon--5,
.card-color-icon--alltrump {
	background-image: url('img/alltrump.svg');
}
.card-color-icon--6,
.card-color-icon--notrump {
	background-image: url('img/notrump.svg');
}

.bid-value {
	font-weight: bold;
	font-size: 1.1rem;
}

.stockitem:hover {
	transition: top 0.2s ease-in;
}

.stockitem:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 5px;
	top: -4px;
}

.stockitem_selected {
	border: 2px red solid !important;
	border: 0 !important;
	top: -12px !important;
	box-shadow: rgba(0, 0, 255, 0.9) 0px 0px 7px;
}
