/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Coinche implementation : © Christophe Badoit <gameboardarena@tof2k.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * coinche.css
 *
 * Coinche stylesheet
 *
 */

/** Table layout **/
.playerTables {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url('img/baize.svg');
}
.playerTables--coinched {
	animation: coinche-shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

.playerTables__wrapper {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}

.playerTables__name {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.playerTables__name > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
	letter-spacing: 0.05rem;
}

.playerTables__bubble {
	opacity: 0;
	background: white;
	border-radius: 18px/15px;
	bottom: 100%;
	color: #000;
	font-weight: normal;
	left: -30px;
	padding: 5px 15px;
	position: absolute;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 7px;
	font-size: 14px;
	transition: opacity 0.5s ease-in;
	min-width: 40px;
}
.playerTables__bubble:hover {
	opacity: 0.5;
	pointer-events: none;
}

.playerTables__bubble:after {
	border-color: #ffffff transparent;
	border-style: solid;
	border-width: 15px 15px 0;
	bottom: -10px;
	content: '';
	display: block;
	left: 30px;
	position: absolute;
	width: 0;
}

.playerTables__bubble--visible {
	opacity: 1;
	display: block;
}

.playerTables__bubble .playerTables__bid-item {
	margin: 0 !important;
}

.playerTables__table {
	position: absolute;
	text-align: center;
	width: 160px;
	height: 180px;
	box-sizing: border-box;
}

.playerTables__table__firstMarker {
	opacity: 0;
	display: none;
	position: absolute;
	top: -7px;
	right: -7px;
	width: 36px;
	height: 37px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-image: url('img/playerFirst.svg');
	transition: opacity 1.5s ease-in;
}
.playerTables__table--first .playerTables__table__firstMarker {
	opacity: 1;
	display: block;
}

.playerTables__table__counterMarker {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-image: url('img/playerCounter.svg');
}
.playerTables__table__counterMarker--visible {
	display: block;
}

.playerTables__table__takerMarker {
	display: none;
	position: absolute;
	top: 0;
	left: -5px;
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-image: url('img/playerTaker.png');
}
.playerTables__table__takerMarker--visible {
	display: block;
}

.playerTables__card {
	margin: 0;
	position: absolute;
	width: 72px;
	height: 104px;
}

.playerTables__status {
	margin: 0;
	position: absolute;
	width: 110px;
	height: 110px;
}

.playerTables__avatar-wrapper {
	box-sizing: border-box;
	position: relative;
	width: 110px;
	height: 110px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 2px;
	border: 4px solid rgba(255, 255, 255, 0.1);
}

.playerTables__table--active .playerTables__avatar-wrapper {
	border: 4px solid rgba(255, 255, 255, 0.5);
}

.playerTables__avatar {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.playerTables__table--N {
	left: 50%;
	top: 6%;
	margin-left: -80px;
}
.playerTables__table--N .playerTables__avatar-wrapper {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -60px;
}
.playerTables__table--N .playerTables__card {
	top: 120px;
	left: 50%;
	margin-left: -36px;
}
.playerTables__table--N .playerTables__status {
	top: 0;
	left: 85%;
	text-align: left;
}

.playerTables__table--S {
	left: 50%;
	bottom: 6%;
	margin-left: -80px;
}
.playerTables__table--S .playerTables__avatar-wrapper {
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -60px;
}
.playerTables__table--S .playerTables__card {
	bottom: 120px;
	left: 50%;
	margin-left: -36px;
}
.playerTables__table--S .playerTables__status {
	bottom: 0;
	left: 85%;
	text-align: left;
}

.playerTables__table--W {
	left: 6%;
	top: 50%;
	margin-top: -90px;
}
.playerTables__table--W .playerTables__avatar-wrapper {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -60px;
}
.playerTables__table--W .playerTables__card {
	left: 120px;
	top: 50%;
	margin-top: -55px;
}
.playerTables__table--W .playerTables__status {
	top: 85%;
	left: 0;
}

.playerTables__table--E {
	right: 6%;
	top: 50%;
	margin-top: -90px;
}
.playerTables__table--E .playerTables__avatar-wrapper {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -60px;
}
.playerTables__table--E .playerTables__card {
	right: 120px;
	top: 50%;
	margin-top: -55px;
}
.playerTables__table--E .playerTables__status {
	top: 85%;
	right: 0;
}

.playerTables__bid-item {
	opacity: 0.1;
	font-size: 14px;
}
.playerTables__bid-item:nth-last-child(2) {
	opacity: 0.2;
}
.playerTables__bid-item:last-child {
	opacity: 1;
}
.playerTables__bid__item-value {
	font-weight: bold;
	vertical-align: middle;
	margin-right: 3px;
}

.playerTables__coinche-btn {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 160px;
	height: 120px;
	left: 50%;
	top: 50%;
	margin-top: -60px;
	margin-left: -80px;
	box-sizing: border-box;
}
.playerTables__coinche-btn--visible {
	display: flex;
}

.playerTables__coinche-btn > a {
	display: block;
	padding: 8px 20px;
	margin: 1px;
	font-size: 1.1rem;
	overflow: visible;
	border-radius: 5px;
	margin: 2px;
	font-weight: bold;
	cursor: pointer;
	white-space: nowrap;
	line-height: 32px;
	transition: background 0.5s ease-in;
	background: linear-gradient(
		135deg,
		#ed4b5e 0%,
		#d24b5a 50%,
		#ba2737 51%,
		#ef2d40 100%
	);
	color: white;
}
.notouch-device .playerTables__coinche-btn > a:hover,
.playerTables__coinche-btn > a:hover {
	text-decoration: none;
	background: #fff;
	background: linear-gradient(
		135deg,
		#f85032 0%,
		#f16f5c 50%,
		#f6290c 51%,
		#f02f17 71%,
		#e73827 100%
	);
	color: #000;
}

/*** cards on table ***/

.cardontable {
	position: absolute;
	width: 72px;
	height: 104px;
	background-image: url('img/cards-french.png');
	box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 5px;
}

/*** bid panel ***/

.bidPanel {
	transition: opacity 0.5s ease-in;
	width: 50%;
	overflow: hidden;
	position: absolute;
	top: 33%;
	left: 25%;
	text-align: center;
	margin: 10px;
	height: 30%;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 9px;
	color: white;
	background: linear-gradient(14deg, #048254, #035d3c);
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px;

	opacity: 0;
	pointer-events: none;
}

.bidPanel--visible {
	opacity: 1;
	pointer-events: all;
}

.bidPanel__title {
	font-weight: bold;
	padding: 5px;
}

.bidPanel__colors,
.bidPanel__values {
	display: flex;
}

.bidPanel__values-list {
	display: flex;
	overflow: hidden;
}

.bidPanel__btn {
	display: block;
	padding: 5px;
	margin: 1px;
	font-size: 1.3rem;
	overflow: visible;
	color: #333;
	border-radius: 5px;
	margin: 2px;
	font-weight: bold;
	cursor: pointer;
	white-space: nowrap;
	line-height: 32px;
	background: linear-gradient(
		135deg,
		#f6f8f9 0%,
		#e5ebee 50%,
		#d7dee3 51%,
		#f5f7f9 100%
	);
	transition: background 0.5s ease-in;
}

.bidPanel__btn::selection {
	background: transparent;
}
.bidPanel__btn::-moz-selection {
	background: transparent;
}
.bidPanel__btn::-webkit-selection {
	background: transparent;
}

.bidPanel__btn--value {
	min-width: 50px;
	box-sizing: border-box;
}

.bidPanel__btn--value-capot {
	min-width: 50px;
	box-sizing: border-box;
	font-size: 13px;
}

.bidPanel__btn--value-left,
.bidPanel__btn--value-right {
	min-width: 50px;
	box-sizing: border-box;
	background: linear-gradient(
		135deg,
		#e0f3fa 0%,
		#d8f0fc 50%,
		#b8e2f6 51%,
		#b6dffd 100%
	);
}

.notouch-device .bidPanel__btn:hover,
.bidPanel__btn:hover {
	text-decoration: none;
	background: #fff;
	background: linear-gradient(
		135deg,
		#e2e2e2 0%,
		#dbdbdb 50%,
		#d1d1d1 51%,
		#fefefe 100%
	);
	color: #000;
}

.bidPanel__btn--coinche {
	background: linear-gradient(
		135deg,
		#ed4b5e 0%,
		#d24b5a 50%,
		#ba2737 51%,
		#ef2d40 100%
	);
	font-size: 14px;
	color: white;
}
.notouch-device .bidPanel__btn--coinche:hover,
.bidPanel__btn--coinche:hover {
	background: linear-gradient(
		135deg,
		#f85032 0%,
		#f16f5c 50%,
		#f6290c 51%,
		#f02f17 71%,
		#e73827 100%
	);
}

.touch-device .bidPanel__btn--selected,
.bidPanel__btn--selected,
.notouch-device .bidPanel__btn--selected:hover,
.bidPanel__btn--selected:hover {
	background: linear-gradient(
		135deg,
		#b8e1fc 0%,
		#a9d2f3 10%,
		#90bae4 25%,
		#90bcea 37%,
		#90bff0 50%,
		#6ba8e5 51%,
		#a2daf5 83%,
		#bdf3fd 100%
	);
	color: white;
}

.bidPanel__btn--pass {
	display: inline-block;
	background-color: #436aab;
	margin: 0;
	margin-left: 5px;
	font-size: 1rem;
}

.bidPanel__btn--hidden {
	display: none;
}

.bidPanel__spacer {
	flex: 1;
}

.currentBidInfo {
	display: none;
	margin: 10px;
	place-content: center;
	place-items: center;
}

.currentBidInfo--visible {
	display: flex;
}

.currentBidInfo__bid {
	font-size: 0.9rem;
	font-weight: bold;
	vertical-align: middle;
	margin-right: 3px;
}

.currentBidInfo__player {
	color: #777;
	margin-left: 20px;
}

.currentBidInfo__countered--0 {
	display: none;
}

.myHand {
	text-align: center;
}

.card-color-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.card-color-icon--size10 {
	width: 16px;
	height: 10px;
}
.card-color-icon--size16 {
	width: 16px;
	height: 16px;
}
.card-color-icon--1,
.card-color-icon--spade {
	background-image: url('img/spade.svg');
}
.card-color-icon--2,
.card-color-icon--heart {
	background-image: url('img/heart.svg');
}
.card-color-icon--3,
.card-color-icon--club {
	background-image: url('img/club.svg');
}
.card-color-icon--4,
.card-color-icon--diamond {
	background-image: url('img/diamond.svg');
}
.card-color-icon--5,
.card-color-icon--alltrump {
	background-image: url('img/alltrump.svg');
}
.card-color-icon--6,
.card-color-icon--notrump {
	background-image: url('img/notrump.svg');
}

.bid-value {
	font-weight: bold;
	font-size: 0.9rem;
	vertical-align: middle;
	color: #2c3e50;
}

.stockitem:hover {
	transition: top 0.2s ease-in;
}

.stockitem:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 5px;
	top: -4px;
}

.stockitem_selected {
	border: 2px red solid !important;
	border: 0 !important;
	top: -12px !important;
	box-shadow: rgba(0, 0, 255, 0.9) 0px 0px 7px;
}

.cardontable--is-trump:after,
.stockitem--is-trump:after {
	content: ' ';
	position: absolute;
	top: -3px;
	right: -3px;
	width: 18px;
	height: 18px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-image: url('img/cardIsTrump.svg');
	transition: opacity 1.5s ease-in;
}

/* score window */
.scoreTableValue--bold {
	font-weight: bold;
}
.scoreTableValue {
	display: inline-block;
	min-width: 40px;
	text-align: right;
}

@keyframes coinche-shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0) rotate3d(1, 1, 1, -0.1deg);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0) rotate3d(1, 1, 1, 0.2deg);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0) rotate3d(1, 1, 1, -0.4deg);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0) rotate3d(1, 1, 1, 0.4deg);
	}
}
